body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(rgba(111, 111, 111, 0.6), rgb(0, 0, 0));
    min-height: 100vh;
  }

  header {
    background-color: rgba(150, 150, 150, 0.6);
    /* White with 60% opacity */
    backdrop-filter: blur(10px);
    /* Blur effect */
    /* -webkit-backdrop-filter: blur(10px); */
    /* overflow: hidden; */
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    /* Make it a flex container */
    align-items: center;
    justify-content:space-between;
    color: beige;
    font-size: 30px;
    font-weight: bold;
    /* text-align: center; */
    /* gap: 50px; */
  }
  .pass{
    font-size: 30px;
    /* letter-spacing: 5px; */
  }
  
  .nav-links {
    list-style-type: none;
  }
  img{
    width: 200px; /* Set fixed width */
    height: 60px; /* Set fixed height */
    object-fit: cover;
    padding: 1px;
    /* word-wrap: break-word; */
  }
  
  
  .amt{
    /* padding:100px 0px 2px 145px ; */
    text-align: center;
  }
  
  .cg{
    text-align: center;
  
  }
  
  #gains{
    padding: 0px 22px 0px 22px;
  }
  
  button:hover{
    opacity: .9;
    cursor: pointer;
  }
  
  h1{
    text-align: center;
    color: beige;
  }
  
  
  .result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  .home {
    position: relative;
    color: beige;
    text-decoration: none;
}

.home:hover {
    color: rgb(194, 194, 174);
}

main {
  padding: 20px;
}

section {
  
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  
}
h2{
  text-align: left;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .pass,.home{
    display: none;
  }
  header{
    justify-content: center;
  }
}

