body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(rgba(111, 111, 111, 0.6), rgb(0, 0, 0));
  height: 100vh;
}

header {
  background-color: rgba(150, 150, 150, 0.6);
  /* White with 60% opacity */
  backdrop-filter: blur(10px);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  /* Make it a flex container */
  align-items: center;
  justify-content:space-between;
  color: beige;
  font-size: 30px;
  font-weight: bold;
  /* text-align: center; */
  /* gap: 25% */
}
.pass{
  font-size: 30px;
  /* letter-spacing: 5px; */
}

.nav-links {
  list-style-type: none;
}
img{
  width: 200px; /* Set fixed width */
  height: 60px; /* Set fixed height */
  object-fit: cover;
  padding: 1px;
  /* word-wrap: break-word; */
}

h2 {
  /* padding: 100px 0px 2px 145px; */
  text-align: center;
}

.line {
  /* padding: 0px 0px 5px 144px; */
  text-align: center;
  font-weight: 200px;
  text-transform: uppercase;

}

.cg {
  /* padding: 0px 0px 5px 144px; */
  text-align: center;

}

#gains {
  padding: 0px 22px 0px 22px;
}

button:hover {
  opacity: .9;
  cursor: pointer;
}

h1 {
  text-align: center;
  color: beige;
}

.result {
  padding-left: 149px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.home {
  position: relative;
  color: beige;
  text-decoration: none;
}

.home:hover {
  color: rgb(194, 194, 174);
}

@media (max-width: 768px) {
  .pass,.home{
    display: none;
  }
  header{
    justify-content: center;
  }
}