/* styles.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(rgba(111, 111, 111, 0.6), rgb(0, 0, 0));
  min-height: 100vh;
}

header {
  background-color: rgba(150, 150, 150, 0.6);
  /* White with 60% opacity */
  backdrop-filter: blur(10px);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  /* Make it a flex container */
  align-items: center;
  justify-content:space-between;
  color: beige;
  font-size: 30px;
  font-weight: bold;
  /* text-align: center; */
  /* gap: 25% */
}
.pass{
  font-size: 30px;
  /* letter-spacing: 5px; */
}

.nav-links {
  list-style-type: none;
}
img{
  width: 200px; /* Set fixed width */
  height: 60px; /* Set fixed height */
  object-fit: cover;
  padding: 1px;
  /* word-wrap: break-word; */
}

/* .navbar .logo {
  float: left;
  color: #fff;
  font-size: 24px;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar .nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

.navbar .nav-links li {
  display: inline;
}

.navbar .nav-links li a {
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  display: inline-block;
}

.navbar .nav-links li a:hover {
  color: rgb(188, 188, 188);
  border-radius: 4px;
} */

/* Button styles */
.button-container {
  margin: 20px;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 4px;
  color: #000000;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.099);
  text-transform: uppercase;
  box-shadow: 0px 8px 16px rgb(0, 0, 0);
  z-index: 1;
  top: 30px;
  left: 0;


}

.home {
  position: relative;
  color: beige;
  text-decoration: none;
}

.home:hover {
  color: rgb(194, 194, 174);
}


.btn:hover {
  opacity: 0.8;

}



.button-container {
  text-align: center;
  padding-top: 30px;
}



.taxes {
  margin-top: 50px;
  padding: 30px;
  text-decoration: solid;


}

/* html{
    background-color: #2a2438;
  } */

/* .Next {
  margin-top: 10px;
  padding: 5px 30px 10px 30px;
} */

h2 {
  text-align: center;
  color: beige;
}